
body{
  margin: 0;
  padding: 0;
}
.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.box{
  width: 250px;
  text-align: center;
    border-radius: 5px;
    box-shadow: -3px 0px 20px 3px #625e5e;
}

.box img{
  max-width: 100%;
  border-radius: 10px;
}

.box h3{
  font-size: 1.5rem;
  color:#333;
  margin: 15px 0 ;
}

.box p{
  font-size: 1rem;
  color:#666;
  line-height:1.5 ;
}

.box .btn{
  background-color: green;
  border: none;
  /* border: 1px solid red; */
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  transition: background-color .3s ;
  margin-bottom: 15px;
  /* transition: border 5s ; */
} 
.box .btn:hover{
  background-color: rgb(4, 243, 4);
  color: black;
  /* border: 5px solid red; */

}
